include AUTHORS.rst
include CONTRIBUTING.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include requirements.txt
include kolibri_un_women_plugin/*.js
recursive-exclude kolibri_un_women_plugin/* *pyc
recursive-include kolibri_un_women_plugin/locale/* *.*
recursive-include kolibri_un_women_plugin/static *.*
recursive-include kolibri_un_women_plugin/templates *.*
recursive-include kolibri_un_women_plugin/ims *.*
recursive-include kolibri_un_women_plugin/assets *.*

recursive-include kolibri_un_women_plugin/build *.json
